body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

header {
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px;
}

p {
  margin-top: 5px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
}

.slide {
  min-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
 text-align: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px;
}

.grid-item {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 250px;
}

.grid-item img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 24px;
}

.grid-item p {
  margin: 0;
  margin-top: 12px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px;
}

.projects-grid .project {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.projects-grid .project img {
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: white;
}
