@font-face {
  font-family: monument;
  src: url(https://cdn.glitch.global/7a2597b3-e24f-4526-98de-f024c079b581/MonumentGroteskPlusVariable.woff2?v=1712221500451);
}

body {
  font-family: monument, sans-serif;
  margin: 0;
  padding: 20px;
  background: rgba(232, 232, 232, 0.84);
  color: black;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 20px;
}

.subtitle {
  margin: 0;
  font-size: 2em;
  text-transform: none;
}

h3 {
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 16px;
}

p {
  margin-top: 5px;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 18px;
  text-align: justify;
  max-width: 50%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
}

.slide {
  min-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin: 20px 0;
}

.grid-item {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: 300px;
}

.grid-item img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 24px;
}

.grid-item p {
  margin: 0;
  margin-top: 12px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin: 20px 0;
}

.projects-grid .project {
  border: 2px solid black;
  border-radius: 5px;
  padding: 16px;
}

.projects-grid .project img {
  width: 200px;
  object-fit: contain;
  filter: grayscale(100);
}

.projects-grid .project img:hover {
  filter: grayscale(0);
}

.images-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: black;
}

@media (max-width: 1024px) {
  body {
    padding: 12px;
  }

  .grid-container {
    gap: 8px;
    margin: 12px 0;
  }

  .projects-grid {
    gap: 8px;
  }

  .grid-item {
    padding: 4px;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .images-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .description {
    max-width: 100%;
  }
}
