@font-face {
  font-family: Diatype;
  src: url("./fonts/Cargo-DiatypePlusVariable.woff2");
}

@font-face {
  font-family: DiatypeItalic;
  src: url("./fonts/Cargo-DiatypePlusVariable-Italic.woff2");
}

body {
  display: inline-block;
  font-family: Diatype;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  padding: 24px;
  background: rgb(218 217 217 / 84%);
  font-size: 1.3rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "slnt" 0, "MONO" 0;
}

b {
  font-weight: 400;
}

h1 {
  font-family: "Diatype";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
  font-variation-settings: "slnt" 0, "MONO" 0;
}

h2,
h3 {
  font-family: "Diatype";
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.1;
}

h3 {
  margin: 0;
  margin-bottom: 12px;
}

h4 {
  font-family: "Diatype";
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
}

.subtitle {
  margin: 0;
  padding-bottom: 0;
  text-transform: none;
}

p {
  margin-top: 0;
}

.description {
  text-align: justify;
  max-width: 70%;
  padding: 0;
  font-weight: 300;
  font-family: "Diatype";
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
}

.slide {
  min-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  border: 1px solid black;
}

.noborder {
  border: 0;
}

#slider2 img,
#slider3 img,
#slider6 img {
  width: 300px;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin: 20px 0;
}

.grid-item {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: 300px;
}

.grid-item img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 12px;
}

.grid-item p {
  margin: 0;
  margin-top: 12px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin: 20px 0;
}

.projects-grid .project {
  border: 1px solid black;
  border-radius: 3px;
  padding: 16px;
}

.projects-grid .project img {
  width: 300px;
  object-fit: contain;
  filter: grayscale(100);
}

.projects-grid .project img:hover {
  filter: grayscale(0);
}

.images-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 12px;
}

a {
  color: black;
}

.tabs {
  overflow: hidden;
  display: flex;
}

.tablinks {
  float: left;
  border: 0;
  border-radius: 5px 5px 0 0;
  outline: none;
  cursor: pointer;
  text-align: start;
  padding: 10px 20px;
  margin-right: 5px;
  background: rgb(173 171 171);
}

button.tablinks.tab1.active {
  background: rgb(211 211 211);
}

button.tablinks.tab2 {
  background: rgb(208 183 205);
}

button.tablinks.tab2.active {
  background: rgb(229 201 227);
}

#tab2.tabcontent {
  background: rgb(229 201 227);
}

button.tablinks.tab3 {
  background: rgb(191 208 220);
}

button.tablinks.tab3.active {
  background: rgb(201 217 229);
}

#tab3.tabcontent {
  background: rgb(201 217 229);
}

button.tablinks.tab4 {
  background: rgb(187 216 187);
  pointer-events: none;
}

button.tablinks.tab4.active {
  background: rgb(204 229 201);
}

#tab4.tabcontent {
  background: rgb(204 229 201);
}

.tabcontent {
  display: none;
  padding: 20px;
  background: rgb(211 211 211);
  border-radius: 0 5px 5px 5px;
}

.tabcontent h3 {
  color: #333;
}

@media (max-width: 1024px) {
  .tablinks {
    width: 25%;
  }

  .grid-container {
    gap: 8px;
    margin: 12px 0;
  }

  .projects-grid {
    gap: 8px;
  }

  .grid-item {
    padding: 4px;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .images-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .description {
    max-width: 100%;
  }
}
